@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <form method="post">
        <label>Name</label>
        <input type="text" name="name" value="" asp-for="Product.Name" />

        <label>Description</label>
        <input type="text" name="description" value="" asp-for="Product.Description" />

        <label>Value</label>
        <input type="text" name="value" value="" asp-for="Product.Value" />

        <input type="submit" value="Save Product" />
    </form>

</div>